<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>whyliam.workflows.youdao</string>
	<key>connections</key>
	<dict>
		<key>27E60581-8105-41DD-8E29-4FE811179098</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>DBA62127-3B78-4B80-B82B-1C6AEC393003</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>5751065C-52C1-4D19-8F7D-03B730BFE440</key>
		<array/>
		<key>7C1ABC41-3B36-401F-96C7-30BCB39181FF</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>0907BEF4-816F-48FF-B157-03F5C2AACEAB</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>7CAE8B02-CE31-4941-AD5F-C36CC84D164B</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>DA8E4597-4B45-4C4C-A8D0-755BD785BD7A</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>91C343E7-50D8-4B0D-9034-1C16C20DA8D4</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>F99C4C55-10F5-4D62-A77D-F27058629B21</string>
				<key>modifiers</key>
				<integer>262144</integer>
				<key>modifiersubtext</key>
				<string>从有道网页打开</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>4473C9D3-7A15-4D31-84F6-A096A7CFF46C</string>
				<key>modifiers</key>
				<integer>131072</integer>
				<key>modifiersubtext</key>
				<string>有道发音</string>
				<key>vitoclose</key>
				<true/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>27E60581-8105-41DD-8E29-4FE811179098</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>7C1ABC41-3B36-401F-96C7-30BCB39181FF</string>
				<key>modifiers</key>
				<integer>1048576</integer>
				<key>modifiersubtext</key>
				<string>直接打印</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>7CAE8B02-CE31-4941-AD5F-C36CC84D164B</string>
				<key>modifiers</key>
				<integer>524288</integer>
				<key>modifiersubtext</key>
				<string>同步到单词本</string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>F99C4C55-10F5-4D62-A77D-F27058629B21</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>6A03FDC5-89AC-4F9D-9456-3762ACA751FE</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>whyliam</string>
	<key>description</key>
	<string>使用有道翻译你想知道的单词和语句</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Youdao</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string>/usr/bin/python3 splitargs.py "{query}" "search"</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>F99C4C55-10F5-4D62-A77D-F27058629B21</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>http://dict.youdao.com/search?q={query}</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>6A03FDC5-89AC-4F9D-9456-3762ACA751FE</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string>/usr/bin/python3 splitargs.py "{query}" "pronounce"</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>4473C9D3-7A15-4D31-84F6-A096A7CFF46C</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>yd</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<false/>
				<key>queuedelaymode</key>
				<integer>1</integer>
				<key>queuemode</key>
				<integer>2</integer>
				<key>runningsubtext</key>
				<string>正在获取中...</string>
				<key>script</key>
				<string>/usr/bin/python3 youdao.py "{query}"</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string>使用有道翻译你想知道的单词和语句 {query}</string>
				<key>title</key>
				<string>有道翻译</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>91C343E7-50D8-4B0D-9034-1C16C20DA8D4</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<false/>
				<key>clipboardtext</key>
				<string>{query}</string>
				<key>transient</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>DBA62127-3B78-4B80-B82B-1C6AEC393003</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string>/usr/bin/python3 splitargs.py "{query}" "copy"</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>27E60581-8105-41DD-8E29-4FE811179098</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string>/usr/bin/python3 splitargs.py "{query}" "copy"</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>7C1ABC41-3B36-401F-96C7-30BCB39181FF</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<true/>
				<key>clipboardtext</key>
				<string>{query}</string>
				<key>transient</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>0907BEF4-816F-48FF-B157-03F5C2AACEAB</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>1</integer>
				<key>argument</key>
				<integer>1</integer>
				<key>argumenttext</key>
				<string>yd </string>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>hotkey</key>
				<integer>0</integer>
				<key>hotmod</key>
				<integer>0</integer>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>5751065C-52C1-4D19-8F7D-03B730BFE440</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string>/usr/bin/python3 saveword.py "{query}"</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>7CAE8B02-CE31-4941-AD5F-C36CC84D164B</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<true/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string></string>
				<key>title</key>
				<string>{query}</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>DA8E4597-4B45-4C4C-A8D0-755BD785BD7A</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>有道翻译 Workflow v2.2.5

默认快捷键 yd, 查看翻译结果。

1. 英译中
2. 中译英
3. 翻译短语句子
4. 打开有道翻译页面，查看详细内容
5. 直接在打出翻译结果
6. 显示历史查询记录

功能

1. 按`回车`复制
2. 按`Control+回车`打开有道翻译页面
3. 按`Comman+回车`直接在打出翻译结果
4. 按`Shift+回车`直接发音
5. 选中文字 双击`Command`进行翻译
6. `yd *` 显示历史查询记录

更多
参见 https://blog.naaln.com/2017/04/alfred-youdao-intro/</string>
	<key>uidata</key>
	<dict>
		<key>0907BEF4-816F-48FF-B157-03F5C2AACEAB</key>
		<dict>
			<key>xpos</key>
			<integer>830</integer>
			<key>ypos</key>
			<integer>420</integer>
		</dict>
		<key>27E60581-8105-41DD-8E29-4FE811179098</key>
		<dict>
			<key>xpos</key>
			<integer>500</integer>
			<key>ypos</key>
			<integer>290</integer>
		</dict>
		<key>4473C9D3-7A15-4D31-84F6-A096A7CFF46C</key>
		<dict>
			<key>xpos</key>
			<integer>830</integer>
			<key>ypos</key>
			<integer>150</integer>
		</dict>
		<key>5751065C-52C1-4D19-8F7D-03B730BFE440</key>
		<dict>
			<key>note</key>
			<string>双击设置快捷方式</string>
			<key>xpos</key>
			<integer>270</integer>
			<key>ypos</key>
			<integer>440</integer>
		</dict>
		<key>6A03FDC5-89AC-4F9D-9456-3762ACA751FE</key>
		<dict>
			<key>xpos</key>
			<integer>830</integer>
			<key>ypos</key>
			<integer>40</integer>
		</dict>
		<key>7C1ABC41-3B36-401F-96C7-30BCB39181FF</key>
		<dict>
			<key>xpos</key>
			<integer>500</integer>
			<key>ypos</key>
			<integer>410</integer>
		</dict>
		<key>7CAE8B02-CE31-4941-AD5F-C36CC84D164B</key>
		<dict>
			<key>xpos</key>
			<integer>500</integer>
			<key>ypos</key>
			<integer>560</integer>
		</dict>
		<key>91C343E7-50D8-4B0D-9034-1C16C20DA8D4</key>
		<dict>
			<key>xpos</key>
			<integer>270</integer>
			<key>ypos</key>
			<integer>250</integer>
		</dict>
		<key>DA8E4597-4B45-4C4C-A8D0-755BD785BD7A</key>
		<dict>
			<key>xpos</key>
			<integer>830</integer>
			<key>ypos</key>
			<integer>560</integer>
		</dict>
		<key>DBA62127-3B78-4B80-B82B-1C6AEC393003</key>
		<dict>
			<key>xpos</key>
			<integer>830</integer>
			<key>ypos</key>
			<integer>290</integer>
		</dict>
		<key>F99C4C55-10F5-4D62-A77D-F27058629B21</key>
		<dict>
			<key>xpos</key>
			<integer>500</integer>
			<key>ypos</key>
			<integer>40</integer>
		</dict>
	</dict>
	<key>variables</key>
	<dict>
		<key>filepath</key>
		<string>~/Documents/Alfred-youdao-wordbook.xml</string>
		<key>password</key>
		<string></string>
		<key>sentry</key>
		<string>True</string>
		<key>username</key>
		<string></string>
		<key>youdao_key</key>
		<string></string>
		<key>youdao_keyfrom</key>
		<string></string>
		<key>zhiyun_id</key>
		<string></string>
		<key>zhiyun_key</key>
		<string></string>
	</dict>
	<key>variablesdontexport</key>
	<array>
		<string>youdao_key</string>
		<string>username</string>
		<string>password</string>
		<string>youdao_keyfrom</string>
		<string>zhiyun_id</string>
		<string>zhiyun_key</string>
	</array>
	<key>version</key>
	<string>2.2.5</string>
	<key>webaddress</key>
	<string>https://github.com/whyliam/whyliam.workflows.youdao</string>
</dict>
</plist>
