<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>whyliam.workflows.youdao</string>
	<key>connections</key>
	<dict>
		<key>2609B3A2-2AD7-430B-8975-8CB28F92D36B</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>5F3A037E-E7C7-4E71-AF0B-84EE458D21BC</string>
				<key>modifiers</key>
				<integer>262144</integer>
				<key>modifiersubtext</key>
				<string>从有道网页打开</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>13875D49-66D7-4B20-92C6-BC9B0EA4F43E</string>
				<key>modifiers</key>
				<integer>8388608</integer>
				<key>modifiersubtext</key>
				<string>有道发音</string>
				<key>vitoclose</key>
				<true/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>33C4E86C-84A8-470D-B382-28F62CD46BD2</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>2AC2607C-6CA4-4624-B84C-E5C40DF80989</string>
				<key>modifiers</key>
				<integer>1048576</integer>
				<key>modifiersubtext</key>
				<string>直接打印</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>7368BD1E-42C2-41D5-B502-197B8197A811</string>
				<key>modifiers</key>
				<integer>524288</integer>
				<key>modifiersubtext</key>
				<string>同步到单词本</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>F71B91E0-A354-4ABB-B790-7FADD35CEF52</string>
				<key>modifiers</key>
				<integer>131072</integer>
				<key>modifiersubtext</key>
				<string>多行或长句显示</string>
				<key>vitoclose</key>
				<true/>
			</dict>
		</array>
		<key>2AC2607C-6CA4-4624-B84C-E5C40DF80989</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>8F2F175F-D644-4093-9458-76003FDEA805</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>33C4E86C-84A8-470D-B382-28F62CD46BD2</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>429C90F8-B8D5-4EAC-A5F9-BA7F7D8B0F44</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>37C5585A-A193-463D-9F33-8B2CE5F4CC38</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>3A6C05C7-16D1-4FC3-9603-FE96241B8A94</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>461AFE3E-EC4A-4A26-A9BD-FC18344CB421</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>CDA9BE01-DBE2-4EB7-A173-B69DB02231C8</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>5F3A037E-E7C7-4E71-AF0B-84EE458D21BC</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>C24EC8D5-7D84-40F7-B91D-D0C7E05BEB93</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>7368BD1E-42C2-41D5-B502-197B8197A811</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>CAAEB7F9-9A6E-4DF4-A607-8B945B1EAE1C</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>7BD0CB70-377D-4861-9987-08AFFE03E264</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>BB600082-E9DA-48C2-8CDE-AB995C084EFF</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>BB600082-E9DA-48C2-8CDE-AB995C084EFF</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>37C5585A-A193-463D-9F33-8B2CE5F4CC38</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>CDA9BE01-DBE2-4EB7-A173-B69DB02231C8</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>7BD0CB70-377D-4861-9987-08AFFE03E264</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>7BD0CB70-377D-4861-9987-08AFFE03E264</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>B706B6A5-A1AB-4D3A-A22C-4BD4B7B552EC</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>772952B6-4888-4692-8D47-7A2B43AC092C</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>7A5E655C-5DCA-439D-AF96-7A0F487C7982</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>772952B6-4888-4692-8D47-7A2B43AC092C</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>E7D2F4BC-4F08-4BF0-AB18-5CB79290396C</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>772952B6-4888-4692-8D47-7A2B43AC092C</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>B41BF0DD-EE11-4BA9-AAF9-84A35E976D03</string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>F71B91E0-A354-4ABB-B790-7FADD35CEF52</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>E04FABB3-8C5B-4025-907E-75E4FD633F07</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>whyliam</string>
	<key>description</key>
	<string>使用有道翻译你想知道的单词和语句</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Youdao</string>
	<key>objects</key>
	<array>
		<dict>
			<key>type</key>
			<string>alfred.workflow.utility.junction</string>
			<key>uid</key>
			<string>7BD0CB70-377D-4861-9987-08AFFE03E264</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>conditions</key>
				<array>
					<dict>
						<key>inputstring</key>
						<string>{var:focusedapp}</string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>1</integer>
						<key>matchstring</key>
						<string>com.runningwithcrayons.Alfred</string>
						<key>outputlabel</key>
						<string>selection not in alfred bar</string>
						<key>uid</key>
						<string>B706B6A5-A1AB-4D3A-A22C-4BD4B7B552EC</string>
					</dict>
					<dict>
						<key>inputstring</key>
						<string>{query}</string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>4</integer>
						<key>matchstring</key>
						<string>\$%\$%$</string>
						<key>outputlabel</key>
						<string>retrigger after translating</string>
						<key>uid</key>
						<string>B41BF0DD-EE11-4BA9-AAF9-84A35E976D03</string>
					</dict>
					<dict>
						<key>inputstring</key>
						<string>{query}</string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>4</integer>
						<key>matchstring</key>
						<string>^yd </string>
						<key>outputlabel</key>
						<string>retrigger after translating</string>
						<key>uid</key>
						<string>E7D2F4BC-4F08-4BF0-AB18-5CB79290396C</string>
					</dict>
					<dict>
						<key>inputstring</key>
						<string>{query}</string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>4</integer>
						<key>matchstring</key>
						<string>^$</string>
						<key>outputlabel</key>
						<string>empty selection in alfred bar</string>
						<key>uid</key>
						<string>7A5E655C-5DCA-439D-AF96-7A0F487C7982</string>
					</dict>
				</array>
				<key>elselabel</key>
				<string>other selection in alfred bar</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.conditional</string>
			<key>uid</key>
			<string>CDA9BE01-DBE2-4EB7-A173-B69DB02231C8</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>matchmode</key>
				<integer>1</integer>
				<key>matchstring</key>
				<string>(^\n+|\n+$|^\s+$)</string>
				<key>regexcaseinsensitive</key>
				<true/>
				<key>regexmultiline</key>
				<false/>
				<key>replacestring</key>
				<string></string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.replace</string>
			<key>uid</key>
			<string>37C5585A-A193-463D-9F33-8B2CE5F4CC38</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>yd {query}</string>
				<key>leftcursor</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.showalfred</string>
			<key>uid</key>
			<string>3A6C05C7-16D1-4FC3-9603-FE96241B8A94</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>matchmode</key>
				<integer>2</integer>
				<key>matchstring</key>
				<string></string>
				<key>replacestring</key>
				<string></string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.replace</string>
			<key>uid</key>
			<string>BB600082-E9DA-48C2-8CDE-AB995C084EFF</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>1</integer>
				<key>focusedappvariable</key>
				<true/>
				<key>focusedappvariablename</key>
				<string>focusedapp</string>
				<key>hotkey</key>
				<integer>0</integer>
				<key>hotmod</key>
				<integer>0</integer>
				<key>hotstring</key>
				<string></string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>461AFE3E-EC4A-4A26-A9BD-FC18344CB421</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>type</key>
			<string>alfred.workflow.utility.hidealfred</string>
			<key>uid</key>
			<string>772952B6-4888-4692-8D47-7A2B43AC092C</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>68</integer>
				<key>script</key>
				<string>/usr/bin/python splitargs.py "{query}" "search"</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>5F3A037E-E7C7-4E71-AF0B-84EE458D21BC</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>http://dict.youdao.com/search?q={query}</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>C24EC8D5-7D84-40F7-B91D-D0C7E05BEB93</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>68</integer>
				<key>script</key>
				<string>/usr/bin/python splitargs.py "{query}" "pronounce"</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>13875D49-66D7-4B20-92C6-BC9B0EA4F43E</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>68</integer>
				<key>script</key>
				<string>/usr/bin/python splitargs.py "{query}" "copy"</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>33C4E86C-84A8-470D-B382-28F62CD46BD2</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<false/>
				<key>clipboardtext</key>
				<string>{query}</string>
				<key>transient</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>429C90F8-B8D5-4EAC-A5F9-BA7F7D8B0F44</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<false/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>68</integer>
				<key>keyword</key>
				<string>yd</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<false/>
				<key>queuedelaymode</key>
				<integer>1</integer>
				<key>queuemode</key>
				<integer>2</integer>
				<key>runningsubtext</key>
				<string>正在获取中...</string>
				<key>script</key>
				<string>/usr/bin/python youdao.py "{query}"</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string>使用有道翻译你想知道的单词和语句 {query}</string>
				<key>title</key>
				<string>有道翻译</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>2609B3A2-2AD7-430B-8975-8CB28F92D36B</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>68</integer>
				<key>script</key>
				<string>/usr/bin/python splitargs.py "{query}" "copy"</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>2AC2607C-6CA4-4624-B84C-E5C40DF80989</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<true/>
				<key>clipboardtext</key>
				<string>{query}</string>
				<key>transient</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>8F2F175F-D644-4093-9458-76003FDEA805</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>68</integer>
				<key>script</key>
				<string>/usr/bin/python saveword.py "{query}"</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>7368BD1E-42C2-41D5-B502-197B8197A811</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<true/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string></string>
				<key>title</key>
				<string>{query}</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>CAAEB7F9-9A6E-4DF4-A607-8B945B1EAE1C</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>68</integer>
				<key>script</key>
				<string>import sys

query = sys.argv[1]

sys.stdout.write(query.split('$%')[2])</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>3</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>F71B91E0-A354-4ABB-B790-7FADD35CEF52</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alignment</key>
				<integer>0</integer>
				<key>backgroundcolor</key>
				<string></string>
				<key>fadespeed</key>
				<integer>0</integer>
				<key>fillmode</key>
				<integer>0</integer>
				<key>font</key>
				<string></string>
				<key>largetypetext</key>
				<string>{query}</string>
				<key>textcolor</key>
				<string></string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.largetype</string>
			<key>uid</key>
			<string>E04FABB3-8C5B-4025-907E-75E4FD633F07</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>有道翻译 Workflow v2.2.5

默认快捷键 yd, 查看翻译结果。

1. 英译中
2. 中译英
3. 翻译短语句子
4. 打开有道翻译页面，查看详细内容
5. 直接在打出翻译结果
6. 显示历史查询记录

功能

1. 按`回车`复制
2. 按`Control+回车`打开有道翻译页面
3. 按`Comman+回车`直接在打出翻译结果
4. 按`Shift+回车`直接发音
5. 选中文字 双击`Command`进行翻译
6. `yd *` 显示历史查询记录

更多
参见 https://blog.naaln.com/2017/04/alfred-youdao-intro/</string>
	<key>uidata</key>
	<dict>
		<key>13875D49-66D7-4B20-92C6-BC9B0EA4F43E</key>
		<dict>
			<key>xpos</key>
			<integer>360</integer>
			<key>ypos</key>
			<integer>435</integer>
		</dict>
		<key>2609B3A2-2AD7-430B-8975-8CB28F92D36B</key>
		<dict>
			<key>xpos</key>
			<integer>90</integer>
			<key>ypos</key>
			<integer>615</integer>
		</dict>
		<key>2AC2607C-6CA4-4624-B84C-E5C40DF80989</key>
		<dict>
			<key>xpos</key>
			<integer>360</integer>
			<key>ypos</key>
			<integer>695</integer>
		</dict>
		<key>33C4E86C-84A8-470D-B382-28F62CD46BD2</key>
		<dict>
			<key>xpos</key>
			<integer>360</integer>
			<key>ypos</key>
			<integer>565</integer>
		</dict>
		<key>37C5585A-A193-463D-9F33-8B2CE5F4CC38</key>
		<dict>
			<key>xpos</key>
			<integer>730</integer>
			<key>ypos</key>
			<integer>115</integer>
		</dict>
		<key>3A6C05C7-16D1-4FC3-9603-FE96241B8A94</key>
		<dict>
			<key>xpos</key>
			<integer>800</integer>
			<key>ypos</key>
			<integer>115</integer>
		</dict>
		<key>429C90F8-B8D5-4EAC-A5F9-BA7F7D8B0F44</key>
		<dict>
			<key>xpos</key>
			<integer>570</integer>
			<key>ypos</key>
			<integer>565</integer>
		</dict>
		<key>461AFE3E-EC4A-4A26-A9BD-FC18344CB421</key>
		<dict>
			<key>note</key>
			<string>双击设置快捷方式</string>
			<key>xpos</key>
			<integer>90</integer>
			<key>ypos</key>
			<integer>140</integer>
		</dict>
		<key>5F3A037E-E7C7-4E71-AF0B-84EE458D21BC</key>
		<dict>
			<key>xpos</key>
			<integer>360</integer>
			<key>ypos</key>
			<integer>310</integer>
		</dict>
		<key>7368BD1E-42C2-41D5-B502-197B8197A811</key>
		<dict>
			<key>xpos</key>
			<integer>360</integer>
			<key>ypos</key>
			<integer>825</integer>
		</dict>
		<key>772952B6-4888-4692-8D47-7A2B43AC092C</key>
		<dict>
			<key>xpos</key>
			<integer>605</integer>
			<key>ypos</key>
			<integer>200</integer>
		</dict>
		<key>7BD0CB70-377D-4861-9987-08AFFE03E264</key>
		<dict>
			<key>xpos</key>
			<integer>605</integer>
			<key>ypos</key>
			<integer>115</integer>
		</dict>
		<key>8F2F175F-D644-4093-9458-76003FDEA805</key>
		<dict>
			<key>xpos</key>
			<integer>570</integer>
			<key>ypos</key>
			<integer>695</integer>
		</dict>
		<key>BB600082-E9DA-48C2-8CDE-AB995C084EFF</key>
		<dict>
			<key>xpos</key>
			<integer>670</integer>
			<key>ypos</key>
			<integer>115</integer>
		</dict>
		<key>C24EC8D5-7D84-40F7-B91D-D0C7E05BEB93</key>
		<dict>
			<key>xpos</key>
			<integer>570</integer>
			<key>ypos</key>
			<integer>310</integer>
		</dict>
		<key>CAAEB7F9-9A6E-4DF4-A607-8B945B1EAE1C</key>
		<dict>
			<key>xpos</key>
			<integer>570</integer>
			<key>ypos</key>
			<integer>825</integer>
		</dict>
		<key>CDA9BE01-DBE2-4EB7-A173-B69DB02231C8</key>
		<dict>
			<key>xpos</key>
			<integer>345</integer>
			<key>ypos</key>
			<integer>115</integer>
		</dict>
		<key>E04FABB3-8C5B-4025-907E-75E4FD633F07</key>
		<dict>
			<key>xpos</key>
			<integer>575</integer>
			<key>ypos</key>
			<integer>955</integer>
		</dict>
		<key>F71B91E0-A354-4ABB-B790-7FADD35CEF52</key>
		<dict>
			<key>xpos</key>
			<integer>360</integer>
			<key>ypos</key>
			<integer>955</integer>
		</dict>
	</dict>
	<key>variables</key>
	<dict>
		<key>filepath</key>
		<string>~/Documents/Alfred-youdao-wordbook.xml</string>
		<key>password</key>
		<string></string>
		<key>sentry</key>
		<string>True</string>
		<key>username</key>
		<string></string>
		<key>youdao_key</key>
		<string></string>
		<key>youdao_keyfrom</key>
		<string></string>
		<key>zhiyun_id</key>
		<string></string>
		<key>zhiyun_key</key>
		<string></string>
	</dict>
	<key>variablesdontexport</key>
	<array>
		<string>youdao_key</string>
		<string>username</string>
		<string>password</string>
		<string>youdao_keyfrom</string>
		<string>zhiyun_id</string>
		<string>zhiyun_key</string>
	</array>
	<key>version</key>
	<string>2.2.5</string>
	<key>webaddress</key>
	<string>https://github.com/whyliam/whyliam.workflows.youdao</string>
</dict>
</plist>
